<div id="content">
  <form action="/select" method="GET">
		Fibonnaci Series <input type="radio" name="which" value="f" checked><br />
		Password Generator <input type="radio" name="which" value="p">
	  <br/><br/><input type="submit" value="Select"/>
  </form>
</div>
