<div id="content">
  <form action="/generate" method="GET">
    <input type="text" name="length" id="number" size="3">
		<input type="hidden" name="opt" value="f">
	  <br/><br/><input type="submit" value="Generate Fibonacci Series"/>
  </form>
</div>
